
html,body{min-width:960px;color:#191919;font-family:bankcomm,'Microsoft Yahei','微软雅黑',sans-serif; }
a{cursor:pointer;text-decoration:none;color:#191919;}
.clear { clear:both; }
.pt50{padding-top: 50px;}
#outer .left{float:left;}
#outer .right{float:right;}
.container{
	width:1520px;
	margin:0 auto;
	/*overflow: hidden;*/
}
.container .title{
	padding:80px 0 20px;
	text-align:center;
}
.container .title h2{font-size:34px;}
.container .title h2:before,
.container .title h2:after{
	content:'';
	width:168px;
	height:0;
	overflow: hidden;
	border-top:1px solid #c4c4c4;
	display:inline-block;
	margin:0 5px;
	vertical-align:middle;
}

.container .title a{
	font-size:22px;
	color:#5d96ed;
}
.container .col2{font-size:0;}
.container .col2>.title {
	text-align: left;
}
.container .col2>.title h2{
	display:inline-block;
	font-size:30px;
}
.container .col2>.title h2:before{
	display:none;
}
.container .col2>.title h2:after{
	width:520px;
}

.container .content a p{
	margin-top:15px;
	font-size:22px;
	text-align:center;
}
.crumb{padding-top:15px;font-size:18px;}

/****** Header ******/
header .head-top{
	background-color:#fff;
}
header .head-top .logo{
	width:310px;
	height:80px;
	float:left;
}
header .head-top .mdblogo{
	width:146px;
	height:80px;
	float:left;
	 margin-left: 10px;
}
header .head-top .box-r{
	margin-top:25px;
	float:right;
	overflow: hidden;
}
header .head-top .search{overflow:hidden;float:left;}
header .head-top .search input{
	width:246px;
	height:30px;
	vertical-align:middle;
	border:1px solid #bfbfbf;
	border-width:1px 0 1px 1px;
	margin:0;
	padding:0;
	float:left;
	text-indent:.5em;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
header .head-top .btn-mod{
	width:68px;
	height:30px;
	line-height:30px;
	text-align: center;
	background-color:#4e92fb;
	color:#fff;
	font-size:18px;
	border:none;
	padding:0;
	float:left;
}
header .head-top .btn-mod a{
	color:#fff;
	display:block;
}
header .head-top .login{
	margin-left:18px;
}
header nav{background-color:#5d96ed;}
header nav ul{background-color:#5d96ed;}
header nav li{
	width:16.66666668%;
	height:50px;
	line-height:50px;
	float:left;
	text-align:center;
	list-style:none;
	position:relative;
}
header nav li a{
	color:#fff;
	height:100%;
	font-size:22px;
	display:block;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	transition:all .2s;
}
header nav li a:hover,
header nav li.active a{
	background-color:#4779d2;
	-moz-box-shadow:0 0 38px #2f5ab8 inset;   
	-webkit-box-shadow:0 0 38px #2f5ab8 inset;
	box-shadow:0 0 38px #2f5ab8 inset;
}
header nav li .sub-nav { position:absolute; z-index:99999; top:50px; left:0; display:none; width: 100%;height:auto; }
header nav li .sub-nav ul li { display:block; width:100%; height:44px; }
header nav li .sub-nav ul li a { color:#5d96ed; display:block; width:86%; margin:0 7%; height:100%; text-align:center; line-height:44px; transition:none; background:url(/content/dam/pccc_pc/images/menu_line.png) bottom center no-repeat; box-shadow:none; }
header nav li .sub-nav ul li a.last { background:none; }
header nav li .sub-nav .bg1 { background:url(/content/dam/pccc_pc/images/menu_bg1.png) top center no-repeat; width:100%; padding-top:15px;}
header nav li .sub-nav .bg2 { background:url(/content/dam/pccc_pc/images/menu_bg2.png) top center no-repeat; width:100%; height:17px; overflow:hidden; }
header nav li .sub-nav ul li a:hover { background:url(/content/dam/pccc_pc/images/menu_bg3.png) center center no-repeat; background-color:none; box-shadow:none; color:#2f5ab8; }

/****** Footer ******/
footer{
	overflow: hidden;
	margin-top:100px;
	color:#fff;
	font-size:22px;
	text-align:center;
	background-color:#5f99ee;
}
footer>div{
	margin:40px 0;
}
footer a,footer span{
	margin:0 27px;
	display:inline-block;
}
footer a{
	color:#fff;
}
footer .pt-link a{
	margin:0 80px;
	text-decoration:underline;
}





.swipe-box{ width:100%; overflow:hidden; position:relative; }
.swipe-box li { list-style:none; }
.swipe-box .hd{ overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; width:100%; }
.swipe-box .hd ul{ overflow:hidden; zoom:1; text-align:center;  }
.swipe-box .hd ul li{ display:inline-block; overflow:hidden; margin:0 3px;  width:10px; height:10px; text-align:center; background:#fff; cursor:pointer; border-radius:100%; behavior:url(/etc/designs/pccc_v2/resource/clientlibs/pc/css/PIE-1.htc); }
.swipe-box .hd ul li.on{ background:#5d96ed; color:#fff; }
.swipe-box .bd{ position:relative; height:100%; z-index:0;   }
.swipe-box .bd li{ zoom:1; vertical-align:middle; }
.swipe-box .bd img{ width:100%; display:block;  }



@media screen and (max-width:1540px) {
	/*.kv{height:440px;}*/
	.crumb{font-size:14px;}
	header .head-top .logo{
		width:233px;
		height: 60px;
	}
		header .head-top .mdblogo{
		width:110px;
		height: 60px;
	}
	header .head-top .login{
		margin-left:13px;
	}
	header .head-top .box-r{
		margin-top:20px;
	}
	header .head-top .search input{
		width:185px;
		height:22px;
	}
	header .head-top .btn-mod{
		width:51px;
		height:22px;
		font-size:14px;
		line-height:22px;
	}
	header nav li a{
		font-size:17px;
	}
	header nav li{
		height:38px;
		line-height:38px;
	}
	header nav li .sub-nav { top:38px; }
	header nav li .sub-nav .bg1 { width:190px;background-size:190px 544px; }
	header nav li .sub-nav .bg2 { background-size:190px 13px; height:13px; }
	

	.container{
		width:1140px;
	}
	.container .content a p{
		margin-top:10px;
		font-size:16px;
	}
	.container img{
		width:100%;
		display:block;
	}
	.container .title {
	    padding:60px 0 15px;
	}
	.container .title h2{
		font-size:26px;
	}
	.container .title a{
		font-size: 17px;
	}
	.container .title h2:before, .container .title h2:after{
		width:125px;
	}
	
	.container .col2>.title h2{
		font-size:22px;
	}
	.container .col2>.title h2:after{
		width:390px;
	}
	
	footer{font-size:17px;}
	footer>div{margin:30px 0;}

	
}

@media screen and (max-width:1140px) {
	header nav li .sub-nav { top:38px; }
	header nav li .sub-nav .bg1 { width: 160px;background-size:160px 458px; }
	header nav li .sub-nav .bg2 { width: 160px;background-size:160px 11px; height:11px; }
	
	.container{
		width:960px;
	}
	.container .content a p{
		margin-top:10px;
		font-size:14px;
	}
	.container .title {
	    padding:50px 0 15px;
	}
	.container .title h2{
		font-size:24px;
	}
	.container .title a{
		font-size: 14px;
	}
	.container .title h2:before, .container .title h2:after{
		width:105px;
	}
	
	.container .col2>.title h2{
		font-size:19px;
	}
	.container .col2>.title h2:after{
		width:327px;
	}
	
}