*{margin: 0;
    padding: 0;
}
.container{
    max-width:1520px!important;
    min-width:1520px!important;
}
a{
    text-decoration:none;
    color: #191919;
    cursor:pointer;
}
a:hover{
    text-decoration:none;
    color: #191919;
    cursor:pointer;
}
div.yi_img{
    width: 100%;
}.yi_img img{
    width: 100%;
    margin: 0 auto;
    display: block;
 }
 .er_h h2:before,.er_h h2:after{
     content:"";
     width: 168px;
     height: 0;
     border-top:1px solid #c4c4c4;
     display: inline-block;
     vertical-align:middle;
 }
 .yewu li{
     width:25%;
     float: left;
     text-align: center;
 }
 .yewu li a img{
     width: 70%;
     margin: 0 auto;
     display: block;
 }
 ul li p{
     color: #7f7f7f;
 }
.tese li{
    width: 21%;
    float: left;
    text-align: center;
    margin-right:5.3333%;
}
.tese li img{
    width: 100%;
    margin:0 auto;
    display: block;
}
.tese li:last-child{
    margin:0;
}
.si_u li{
    width: 47.4%;
    margin:0 auto;
    text-align: center;
}
.si_u li img{
    width: 100%;
    display: block;
}

