*{
    margin:0;
    padding:0;
}
.container{
    max-width:1520px!important;
    min-width:1520px!important;
}
header{
    width:100%;
}
.head_d1{
    position:relative;
    width:1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.head_d1 img{
    height:70px;
}
.head_log2 a,img{
    display:inline-block;
 }
.head_d1 .head_in{
    position: absolute;
    right:20px;
    top:19px;
}
nav{
    width:100%;
    background:#5d96ed;
}
nav ul li {
    height:38px;
    line-height:38px;
    text-align:center;
    font-size:17px;
    color: #fff;
    width: 16%;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li>a{
    color:#fff ;
    display:block;
}
nav ul li>a:hover{
    cursor: pointer;
    text-decoration: none;
    box-shadow:0 0 38px #577ECF inset;
    color: #fff;
}
/*nav ul li>a:hover{*/
    /*cursor: pointer;*/
    /*text-decoration: none;*/
    /*color: #fff;*/
/*}*/
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
nav ul li ul{
    background-color:rgba(255 255 255 0.2);
    width:85%;
    text-align: center;
    margin: 0 auto;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    display: none;
    /*position: absolute;*/
    /*z-index:-5;*/
}
nav ul li ul li{
    width:100%;
    margin:0 auto;
    line-height: 38px;
    height: 38px;
    display: block;
    color: #5d96ed;
    background-color:rgba(255,255,255,0.8);

}
nav ul li ul li>a{
    color: #5d96ed;
}
nav ul li ul>li:hover a{
    color:#2f5ab8;
    display:block;
}
nav ul li:hover ul{
 display:block;
    /*opacity:0.5;*/
}

